<div class="toolbar fixed-top" role="banner">    
        <nav class="navbar navbar-expand-lg bg-dark" >
            <div class="container-fluid">
              
              <a class="navbar-brand" href="#" id="textoclaro"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <div class="navbar-nav" >
                  
                  <a class="nav-link active" href="/portada" aria-current="page" id="textoclaro" outerLink="/portada" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de</a>
                  <nav>
                  <a class="nav-link" href="/educacion" id="textoclaro"  routerLinkActive="active" ariaCurrentWhenActive="page">Educacion</a>
                </nav>
                <nav>
                  <a class="nav-link" href="/experiencia" id="textoclaro"  routerLinkActive="active" ariaCurrentWhenActive="page">Experiencia</a>
                </nav>
                <nav>
                  <a class="nav-link " href="/proyectos" id="textoclaro"   routerLinkActive="active" ariaCurrentWhenActive="page">Proyectos</a>
                </nav>
                <nav> 
                  <a class="nav-link " href="/skills" id="textoclaro"    routerLinkActive="active" ariaCurrentWhenActive="page">Habilidades</a>
                </nav>
                
                </div>
              
              </div>
            </div>
            
            <div style="float:right">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                  <div class="navbar-nav" >
                    <a class="nav-link active" aria-current="page" href="#" id="textoclaro">link red1</a>
                    <a class="nav-link" href="#" id="textoclaro">link red2</a>
                    <a class="nav-link" href="#" id="textoclaro">link red3</a>
                  </div>
                </div>
            </div>
            </div>
          </nav>      
  </div>