<div class="toolbar fixed-top" role="banner">    
        <nav class="navbar navbar-expand-lg bg-dark" >
            <div class="container-fluid">
              
              <a class="navbar-brand" href="#" id="textoclaro"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div>
                <img src="https://github.com/BraianBecha/imagenes_de_portfolio/blob/main/imgs%20portfolio/Dise%C3%B1osintitulo(17).png?raw=true" alt="">
              </div>
              <div>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <div class="navbar-nav" >
                  
                  <a class="nav-link active" href="/portada" aria-current="page" id="textoclaro" outerLink="/portada" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de</a>
                  <nav>
                  <a class="nav-link" href="/educacion" aria-current="page"  id="textoclaro"  routerLinkActive="active" ariaCurrentWhenActive="page">Educacion</a>
                </nav>
                <nav>
                  <a class="nav-link" href="/experiencia" aria-current="page"  id="textoclaro"  routerLinkActive="active" ariaCurrentWhenActive="page">Experiencia</a>
                </nav>
                <nav>
                  <a class="nav-link " href="/proyectos" aria-current="page"  id="textoclaro"   routerLinkActive="active" ariaCurrentWhenActive="page">Proyectos</a>
                </nav>
                <nav> 
                  <a class="nav-link " href="/skill" aria-current="page"  id="textoclaro"    routerLinkActive="active" ariaCurrentWhenActive="page">Habilidades</a>
                </nav>
                
                </div>
              
              </div>
            </div>
            
            <div style="float:right">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                  <div class="navbar-nav" >
                    <a href="https://www.flaticon.com/free-icons/discord" title="discord icons">Icons created by Freepik - Flaticon</a>
                    <a class="nav-link active" aria-current="page" href="https://github.com/BraianBecha" id="textoclaro"><img src="https://raw.githubusercontent.com/BraianBecha/imagenes_de_portfolio/main/imgs%20portfolio/github(1).png" alt="" style="height: 60px; width: 60px;"></a>
                    <a class="nav-link" href="https://www.linkedin.com/in/braian-becharouch-790953a6/" id="textoclaro"><img src="https://raw.githubusercontent.com/BraianBecha/imagenes_de_portfolio/main/imgs%20portfolio/linkedin.png" alt="" style="height: 60px; width: 60px;"></a>
                    <a class="nav-link" href="#" id="textoclaro"><img src="https://raw.githubusercontent.com/BraianBecha/imagenes_de_portfolio/main/imgs%20portfolio/discord.png" alt=""style="height: 60px; width: 60px;"></a>
                  </div>
                </div>
            </div>
            </div>
          </nav>      
  </div>