<div class="proycomponent" >

    <ul >
        <li *ngFor="let edu of historiaeduc">
    
            <div class="card mb-3 proycomponent" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{edu.titulo}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text">{{edu.escuela}}</p>
                  <p class="card-text">{{edu.career}}</p>
                  <p class="card-text text-muted">Inicio: </p>
                  <p class="card-text text-muted">Fin: </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              
         
          
            
        </li>
      </ul>
    </div>
