      
             <div class="responsive-banner" >
              <img class="banner"  alt="fotob" src="{{persona.image_background_header}}" > 


              <div class="btn-edit" onclick="cambiar_parrafo()"><a href=""> <i class="fa fa-pen btn-edit"  onclick="cambiar_parrafo()"></i> </a>
            </div>  
            </div>
             
             
    <div class="card container-xl" style="margin-top: 3%;">
                   <div  class="card-img-top">
                   <img class="perfil "  src="{{persona.imagen_perfil}}" alt="fotoc" style="float: up;">  <a href=""> <i class="fa fa-pen" ></i></a>
                   <div class="btn-edit" onclick="cambiar_parrafo()"> 
                    </div>
                             <!-- <div style="float;" class="position-absolute bottom-50 end-50 btn-edit" onclick="cambiar_parrafo()"> 
                                <i class="fa fa-pen" ></i>                        
                              </div>  -->


                              <div style="float: right;" >    
                             


                                 <div class="card-body">
                                  <h3 class="card-title"> {{persona.nombre}} {{persona.apellido}}  <a href=""> <i class="fa fa-pen btn-edit"  onclick="cambiar_parrafo()"></i> </a>
                                            

                                  </h3> 
                                  
                                  
                     
                       
                           
                                       <h5 class="card-subtitle mb-2 text-muted">{{persona.ocupacion}}</h5> <a href=""> <i class="fa fa-pen btn-edit"  onclick="cambiar_parrafo()"></i> </a>
                           
                                       <p class="card-text">{{persona.sobre_mi}}</p> <a href=""> <i class="fa fa-pen btn-edit"  onclick="cambiar_parrafo()"></i> </a>
                     
                                 </div>
                              </div>


                       </div>              
          </div>
          




 

