
          <div class="tarjetastyle">           
              
                 <div *ngFor="let proy of proyectos">


                  <div class="card mb-3 text-bg-dark mb-3 row g-0" style="width: auto;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{proy.enlacefoto}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{proy.titulo}}</h5>
                          <p class="card-text">{{proy.descripcion}} </p>
                          <p class="card-text"><small class="text-muted"></small></p>
                          <a href="#" class="card-link">GITHUB</a>
                          <a href="#" class="card-link">REPO2</a>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  

<!-- 
                  <div>
                         <div class="card text-bg-dark mb-3 row g-0" style="width: auto">
                              <div class="col-md-4">
                                <img src="assets\descarga (1).png" >
                              </div>


                        <div class="card-body">
                          <h5 class="card-title">{{proy.titulo}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted"></h6>

                          <p class="card-text">{{proy.descripcion}}</p>

                          <a href="#" class="card-link">GITHUB</a>
                          <a href="#" class="card-link">REPO2</a>
                        </div>


                      </div>
                      
                    </div>
                  
                    
                  </div>
              
                  
            </div>
     
      -->
   